*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
  background-color: #141517;
}
a{
  text-decoration: none;
}
@media screen and (max-width: 768px){
  .projects_Images{
    width: 100%;
    height: 100%;
  }
}